Ignoring Cache-Control: private is not appropriate in all cases

As noted in the README, faraday-http-cache does not cache responses that have `Cache-Control: private`. I think this is not the most useful behavior in many cases.

According to the spec (RFC 2616 § 14.9.1), `private`:

> Indicates that all or part of the response message is intended for a single user and MUST NOT be cached by a shared cache.

So, any API which requires authentication should include the `Cache-Control: private` directive in its responses to prevent them from being cached by intermediate shared proxies.

In many cases, a Faraday client instance represents a single user — one application behaving as a client of an API using a single set of credentials, even if the application itself has multiple users. (All of Faraday's built-in authentication schemes assume this model, for instance.) In these cases, faraday-http-cache can (and should) safely cache responses with `Cache-Control: private`.

There are legitimate cases where faraday-http-cache would be acting as a shared cache, so I don't think that reversing the behavior (i.e., always caching `private` responses) is the right thing to do either. So it seems like making this a configuration option would be the right way to go. Maybe a `shared_cache` flag?

This was first proposed in #28, but that issue was closed by its author before there was any discussion.

I'd be happy to work up a patch if there's interest from the maintainers in making this configurable.
